body {
  background-color: rgba(136, 171, 117, 0.5);
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h2 {
  color: #DE8F6E;
  text-indent: 50px;
}

header {
  text-align: center;
  color: #5B5F60;
}

h1 {
  margin-bottom: 0px;
}

.heading {
  margin-top: 0px;
  color: #5B5F60;
  text-indent: 0px;
}

b {
  font-size: 20px;
}

.topTen{
  font-size: 28px;
  color: #2D93AD;
}

.topTen li {
  font-size: 24px;
  color: black;
}

.classesTaken {
  font-size: 20px;
  font-style: oblique;
}

cite {
  font-size: 16px;
}
